*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

header{
    padding: 25px 0;
    background-color: #ADD8E7;
    font-size: 25px;
}

.container{
    display: flex;
    margin: 0 auto;
    max-width: 1180px;
    border: 1px solid black;
    padding: 15px;
}

.container-sm{
    max-width: 1080px;
    margin: 0 auto;
    display: flex; 
}

.header-content ul{
    list-style: none;
    margin: 0 10px;
}

.header-content ul li{
    display: inline-block;
    margin: 0 10px;
}

/* Utility */
.bg-yellow{
    background-color: #DAA51E;
}

.bg-blue{
    background-color: #00018B;
}

.bg-pink{
    background-color: #EF82ED;
}

.full-col{
    width: 100%;
}

.col-20{
    width: 20%;
}

.col-60{
    width: 60%; 
}

.dashed{
    border: 3px dashed black;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}


.h-350{
    min-height: 350px;
}

.p-50{
    padding: 50px;
}